<p id="notice"><%= notice %></p>

<p>
  <strong>Scaffold:</strong>
  <%= @mutation.scaffold %>
</p>

<p>
  <strong>Chromosome:</strong>
  <%= @mutation.chromosome %>
</p>

<p>
  <strong>Library:</strong>
  <%= @mutation.library %>
</p>

<p>
  <strong>Mutant line:</strong>
  <%= @mutation.mutant_line %>
</p>

<p>
  <strong>Position:</strong>
  <%= @mutation.position %>
</p>

<p>
  <strong>Ref base:</strong>
  <%= @mutation.ref_base %>
</p>

<p>
  <strong>Wt base:</strong>
  <%= @mutation.wt_base %>
</p>

<p>
  <strong>Alt base:</strong>
  <%= @mutation.alt_base %>
</p>

<p>
  <strong>Het hom:</strong>
  <%= @mutation.het_hom %>
</p>

<p>
  <strong>Wt cov:</strong>
  <%= @mutation.wt_cov %>
</p>

<p>
  <strong>Mut cov:</strong>
  <%= @mutation.mut_cov %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @mutation.confidence %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @mutation.gene %>
</p>

<p>
  <strong>Mutation consequence:</strong>
  <%= @mutation.mutation_consequence %>
</p>

<p>
  <strong>Cdna position:</strong>
  <%= @mutation.cdna_position %>
</p>

<p>
  <strong>Cds position:</strong>
  <%= @mutation.cds_position %>
</p>

<p>
  <strong>Amino acids:</strong>
  <%= @mutation.amino_acids %>
</p>

<p>
  <strong>Codons:</strong>
  <%= @mutation.codons %>
</p>

<p>
  <strong>Sift score:</strong>
  <%= @mutation.sift_score %>
</p>

<%= link_to 'Edit', edit_mutation_path(@mutation) %> |
<%= link_to 'Back', mutations_path %>
