

<p>
Export the displayed mutations for local analyisis:  <button id="save-csv">Export</button>
<label for="low-quality-mutations">Show lower quality mutations</label>
    <input type="checkbox" name="low-quality-mutations" id="low-quality-mutations">
</p>

<div id="grid" style="width: 100%; height: 750px"></div>

<script type="text/javascript">

$(function () {
	function setupTableButtons(tgt){
		var save_button = "save-csv";
		$( "#" + save_button ).button().click(function( event ) {
			var toSave = [];
			if(tgt.last.searchIds.length == 0){
				toSave = tgt.records;
			}else{
				tgt.last.searchIds.forEach(function(value){
				toSave.push(tgt.records[value]);
			});}
			var csvContent = "";
			var fields = [];
			tgt.columns.forEach(function(obj,index){
				fields.push(obj.field)  ;
			});
			var sep = ',';
			csvContent += fields.join(sep) + '\n';
			toSave.forEach(function(infoArray, index){
				infoArray = $.map(infoArray, function(el) { return el; });
				infoArray.shift();

				dataString = infoArray.join(sep);
				dataString = dataString.replace(/,false$/, "");
				csvContent += index < toSave.length ? dataString+ "\n" : dataString;
			});
			
			saveCSVContent(csvContent, "selectedMutations.csv");
		}); 
	};

	function setupLowQualityButtons(){
		var toggle_botton_id = 'low-quality-mutations';
		$('#' + toggle_botton_id).
		on('change', function(evt){
			if($(this).is(":checked")) {
				w2ui['grid'].load('list.json?population=<%= @population%>&search=<%= @search%>&category=');
			}else{
				w2ui['grid'].load('list.json?population=<%= @population%>&search=<%= @search%>&category=het5hom3');
			}
			
		});
	};

	var grid = $('#grid').w2grid({ 
		name: 'grid', 
		show: { 
			toolbar: true,
			footer: true,
			toolbarReload: false
		},
		fixedBody : true,
		selectType : 'cell',
		multiSearch: true,
		method: 'GET', // need this to avoid 412 error on Safari
		multiSearch: false,
		columns: [
		{
			field: 'scaffold', caption:'Scaffold', size: '240px', sortable: true,
			render: function(record, index, column_index){
				var txt = record.scaffold
				if(txt == null){
					txt = ""
				}else{
					var html = '<a "../search/sequence?sequence=' + txt + '">' + txt + '</a>';
					return html;
				}
			}},
		{field: 'chr', caption:'Chr', size: '35px', sortable: true },
		{field: 'line', caption:'Line', size: '110px', sortable: true },
		{field: 'category', caption:'Category', size: '100px', sortable: true },
		{field: 'position', caption:'Pos', size: '110px', render:'number', sortable: true },
		{field: 'chr_position', caption:'Chr<br>pos', size: '110px', render:'number', sortable: true },
		{field: 'ref', caption:'rf', size: '32px'},
		{field: 'wt', caption:'wt', size: '32px'},
		{field: 'alt', caption:'mt', size: '32px'},
		{field: 'het_hom', caption:'Het<br>Hom', size: '45px', sortable: true },
		{field: 'wt_cov', caption:'WT<br>cov', size: '45px'},
		{field: 'mut_cov', caption:'Mut<br>cov', size: '45px'},
		{field: 'gene', caption:'Gene', size: '200px', sortable: true, 
			render: function(record, index, column_index){
				var txt = record.gene
				if(txt == null){
					txt = ""
				}else{
					var html = '<a "href=http://plants.ensembl.org/Triticum_aestivum/Gene/Summary?g=' + txt + '">' + txt + '</a>';
					return html;
				}
			} 
		},
		{field: 'consequence', caption:'Consequence', size: '200px',
			 render: function (record, index, column_index) {
			 		var txt = record.consequence;
			 		if(txt == null){
			 			txt = "";
			 		}
			 		txt=txt.replace("&","<br>");
			 		var html = '<div>'+ txt +'</div>';
			 		return html;
			 	}, sortable: true 
			 },
		{field: 'cdna_position', caption:'cDNA<br>pos', size: '50px', sortable: true },
		{field: 'cds_position', caption:'CDS<br>pos', size: '50px', sortable: true },
		{field: 'amino_acids', caption:'Amino<br>acids', size: '50px'},
		{field: 'codons', caption:'Codons', size: '50px'},
		{field: 'sift', caption:'SIFT<br>score', size: '45px', sortable: true },
		{field: 'primer_type', caption:'Primer type', size: '110px',
			 render: function (record, index, column_index) {
			 		var txt = record.primer_type;
			 		if(txt == null){
			 			txt = "";
			 		}
			 		txt=txt.replace("chromosome_","");
			 		var html = '<div>'+ txt +'</div>';
			 		return html;
			 	}, sortable: true 
			 },
		{field: 'primer_orientation', caption:'Orientation', size: '32px'},
		{field: 'wt_primer', caption:'WT primer', size: "200px"},
		{field: 'alt_primer', caption:'Alt primer', size: '200px'},
		{field: 'common_primer', caption:'Common', size: '200px'}
        ]
    });

    w2ui['grid'].on("click",  function(event) {
    	//event.preventDefault();
    	var grid = this;
    	
    	event.onComplete = function () {
        	var sel = grid.getSelection();
        	var record_index = grid.get(event.recid, true);
        	var cell = this.getCellValue(record_index, event.column);
        	if(cell.length < 1){
        		return;
        	}
        	if(sel.length == 1 && event.column == 12){
        		var link = 'http://plants.ensembl.org/Triticum_aestivum/Gene/Summary?g=' + cell;
        		var link = 'http://plants.ensembl.org/Triticum_aestivum/Search/Results?q=' + cell
        		window.open(link);
        	}
        	if(sel.length == 1 && event.column == 0){
        		var cell = this.getCellValue(record_index, event.column);
        		var link = '../search/sequence?sequence=' + cell;
        		window.open(link);
        	}
    }
	}); 
    w2ui['grid'].load('list.json?population=<%= @population%>&search=<%= @search%>&category=het5hom3');
    setupTableButtons(w2ui['grid']);
    setupLowQualityButtons();
});
</script>