<h2>Search TILLING data</h2><br>

Search by gene, scaffold or mutant line. 

Examples:<br>
IWGSC_CSS_2AL_scaff_6343779<br>
1AL_3954139<br>
Cadenza0250<br>
Traes_1AL_6ECBF9A0F<br>
Traes_1AL_9EC1E6F0C.1<br>

<%= form_tag("/search/redirect", method: "post", multipart: true) do %>

<%= label_tag :population, "Population" %>	

<%= radio_button_tag(:population, "Cadenza") %>
<%= label_tag(:population_cadenza, "Cadenza") %>
<%= radio_button_tag(:population, "Kronos") %>
<%= label_tag(:population_kronos, "Kronos") %>
<%= radio_button_tag(:population, "Both") %>
<%= label_tag(:population_both, "Both") %>
<br/>
Type in list of search terms (scaffold, line or gene)
<br/>
<%= text_area_tag :terms, "", size: "56x6" %>
<br/>
Or choose an input file containing terms:
<br/>
<%= file_field_tag :query_file %> 
<br/>
<%= submit_tag "Search" , name: 'submit' %>
<% end %>