<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<head>
  <title>Crop Haplotypes</title>

  <!--
  <link href="http://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
-->
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'app_status' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'haplotype_plot' %>
  
  <%=render  :partial =>"layouts/analytics" rescue nil%>
  <%= csrf_meta_tags %>
  
 <script type="text/javascript">
  window.addEventListener('load', function() {
    window.appStatus = new AppStatus({
      'species': '<%= session_species.name %>'
    });
    window.appStatus.ready();
  });
</script>


</head>
<body>

<% flash.each do |key, value| %>
  <div class="alert-<%= key %>">
   <p> <%= value.html_safe %>  </p>   
  </div>
<% end %>


<header class="header">
<%= render :partial => 'layouts/header'  %>
</header>
<main class="main">
<%= yield %>

</main>

<footer class="footer" >

 <ul class="example-selector"></ul>
 <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

<script>

var message = "This website uses cookies to ensure you get the best experience on our website." 
var hasGA = false;
var type = ""
if (typeof window.enableGA === "function") { 
    message += " We use GoogleAnalytics to measure the traffic. We only use this information to report the impact of this tool."
    console.log("We have the function!")
    hasGA = true;
}

var cc_opts = {
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "showLink": false,
  "theme": "classic",
  "content": {
    "message": message,
    dismiss: 'Got it!',
    allow: 'Allow cookies',
    deny: 'Decline'
  }
}
if(hasGA){
  cc_opts.type = "opt-out";
  cc_opts.onInitialise = function (status) {
    if(this.hasConsented()){
      window.enableGA(this.hasConsented())
    }
  }
  cc_opts.onStatusChange = function(status, chosenBefore) {
    window.enableGA(this.hasConsented())
  }
}

window.cookieconsent.initialise(cc_opts);



</script>
</script>

</footer>
</body>
</html>
