<!DOCTYPE html>
<html>
<head>
  <title>Polygenomics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="center" id="head">  
 <%= image_tag("wheat-TILLING-logo.png", class: "logo") %>


</div>
<div>

<% flash.each do |key, value| %>

  <div class="alert-<%= key %>">
   <p> <%= value.html_safe %>  </p>   
  </div>
  
<% end %>


<%= yield %>

</div>

<div align="center" id="partners" width="700px">    

<h2>Project partners:</h2>
<br>
  <%= image_tag("JIC.png", class: "logo") %>
  <%= image_tag("TGAC.png", class: "logo") %>
  <%= image_tag("Cal_Davis.png", class: "logo") %>
  <%= image_tag("hhmi_logo_horizontal.png", class: "logo") %>
  <%= image_tag("RRES.png", class: "logo") %>
</div>

</body>
</html>
