<!DOCTYPE html>
<html>
<head>
  <title>Polygenomics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div align="left" id="partners">    
<br>
<h2>Project partners:</h2>

  <div> 
    <%= image_tag("JIC.png", class: "logo") %>
    <%= image_tag("TGAC.png", class: "logo") %>
    <%= image_tag("Cal_Davis.png", class: "logo") %>
    <%= image_tag("hhmi_logo_horizontal.png", class: "logo") %>
    <%= image_tag("RRES.png", class: "logo") %>
  </div>

</div>

</body>
</html>
