<!DOCTYPE html>
<html>
<head>
  <title>Crop Haplotypes</title>

  <!--
  <link href="http://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
-->
  <%= javascript_pack_tag 'application' %>
  <%=render  :partial =>"layouts/analytics" rescue nil%>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'custom',    media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 

</head>
<body>

<div>

<% flash.each do |key, value| %>

  <div class="alert-<%= key %>">
   <p> <%= value.html_safe %>  </p>   
  </div>
  
<% end %>


<div>
<%= render :partial => 'layouts/header' rescue nil %>
</div>

<%= yield %>

</div>

<br/>
<div class="footer" >

<!--
<div style="width: 70%; float:left">
	Additional Resources
	<br>
	<a href="https://github.com/homonecloco/bioruby-wheat-db/wiki">Additional resources and documentation of the website and populations</a>
	<br>
	Seeds:
	To order seeds please visit the SeedStor site at <a href="https://www.seedstor.ac.uk/shopping-cart-tilling.php">www.seedstor.ac.uk</a>
	You will need the mutant line identifier to request seed (<i>e.g.</i> Cadenza1111 or Kronos1111)
  For help, comments and bug reports, please contact <a href="mailto:Ricardo.Ramirez-Gonzalez@earlham.ac.uk">Ricardo Ramirez-Gonzalez</a>
  <br>
</div>
<div style="width: 20%; float:right">
  <a href="https://www.seedstor.ac.uk/shopping-cart-tilling.php"><%= image_tag("seedstor.png", class: "logo") %></a>
</div>

-->
</body>
</html>
